@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@700&family=Lato:wght@400;700&family=Roboto+Mono&display=swap');
:root{
    --nav-font: 'Amatic SC', cursive;
    --heading-font: 'Dancing Script', cursive;
    --body-font: 'Lato', sans-serif;
    --span-text: 'Roboto Mono', monospace;

}

/* mobile first design */

*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}


body{
    font-family: var(--body-font);
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;

}

h1{
    font-family: var(--heading-font);
    font-size: 5rem;
    margin: 25px 0;
}



 .hero{
    background: url('./images/v627-aew-40-technologybackground.jpg');
    background-size: 90%; 
    color: white;
    padding: 20px;  
    position: relative;
} 

.hero span{
    font-family: var(--span-text);
}



.header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 20px;
    min-height: 100vh;

}

#hamburger{
    float: right;
}

nav ul{
    list-style: none;
    line-height: 2; 
    font-family:var(--nav-font);
    font-size: 1.5rem;
}

nav a{
    color: white;
    text-decoration: none;
}

.mobile-nav{
    width: 100%;
    box-sizing: border-box;
    min-height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}

.desktop-nav{
    display: none;
}

nav svg{
    align-self: flex-end;
}

.header a{
    margin: 30px 0;
    padding: 5px 7px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-family: var(--span-text);
}

.hidden{
    display: none;
}

nav a:hover{
    text-shadow: white 1px 0 10px;
    border-bottom: 1px solid white;
}

main{
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

p{
    margin: 0;
}

section{
    padding-bottom: 50px;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    padding: 50px 15px;
    background-color: #030920;
    color: white;
}

.avatar{
    height: 300px;
    width: auto;
    margin-bottom: 35px;
}

h2{
    font-size: 1.7rem;
    margin-bottom: 20px;
} 

h3{
    font-size: 1.5rem;
}

.about-content{
    line-height: 2;
}

.img-container{
    width: 90%; 
    margin: 0 auto; 
    flex-wrap: wrap; 
    justify-content: space-evenly;

}

 .img-container img{
    height: 60px;
    width: auto;
    flex-shrink: 1;
    margin: 20px;
} 



.projects-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
    padding: 40px;
} 



.preview{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
} 

.thumbnail{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }

 

.hi{
    font-size: 1.8rem;
    font-family: var(--heading-font);
}

.text{
    text-align: left;
   
}

.text p:first-of-type{
    font-weight: bold;
    margin-bottom: 10px;
}

.links{
    margin: 20px 0;
}

.links a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 7px;
    width: 100px;
    margin-right: 15px;
}

 #contact{
    padding: 50px;
 }

 #contact img{
    width: 60px;
    height: 60px;
 }

.contact-links{
    display: flex;
    justify-content: center;
}

#contact h2{
    font-family: var(--heading-font);
}

 #contact a{
    margin: 40px;
 }

footer{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width: 800px)and (max-width: 1000px) {
    .hero{
        background-size: 100%;
    }

    #hamburger{
        display: none;
    }

    .desktop-nav{
        display: block;
        position: sticky;
    }

    .desktop-nav ul{
        display: flex;
        justify-content: space-around;
    }

   
    


    

} 

/* large screens */

@media only screen and (min-width: 1060px){
    #hamburger{
        display: none;
    }

    .desktop-nav{
        display: block;
        position: sticky;
    }

    .desktop-nav ul{
        display: flex;
        justify-content: space-around;
    }

    .hero{
        background-size: 100%;
    }

    

    .preview{
        flex-direction: row;
        justify-content: flex-start;
        gap: 100px;
        width: 80%;
    } 

    .thumbnail{
       width: 500px;
       height: 300px;
       object-fit:cover;
    } 

    .thumbnail-lg{
        width: 500px;
        height: 300px;
        object-fit: scale-down;
     } 
 

    .text{
        align-self: center;
        text-align: left;
    }

    
    .img-container{
        display: flex;
        justify-content: space-evenly;
    }

    .about-content{
        display: flex;
        margin-top: 2rem;
        /* border: 1px solid white; */
       margin: 0 auto;
        width: 50%;
        gap: 10%;
    }

    .text-content{
        text-align: left;
    }
    
}